defaults: &defaults
  docker:
    - image: circleci/golang:1.17
  resource_class: small

version: 2
jobs:
  lint:
    <<: *defaults
    steps:
      - checkout
      - run: make lint

  check_format:
    <<: *defaults
    steps:
      - checkout
      - run: |
         make format
         git diff --color --exit-code -- go.mod go.sum

  test:
    <<: *defaults
    steps:
      - checkout
      - run: make test-and-coverage

  build:
    <<: *defaults
    steps:
      - checkout
      - run: make build
      - persist_to_workspace:
          root: .
          paths:
            - slo_exporter

  build_docker:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          version: 17.07.0-ce
      - attach_workspace:
          at: .
      - run: make docker

  release:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          version: 17.07.0-ce
      - run: |
          echo "${DOCKERHUB_PASSWORD}" | docker login -u="${DOCKERHUB_USER}" --password-stdin
          make release

workflows:
  version: 2
  slo-exporter:
    jobs:
      - lint
      - check_format
      - test
      - build:
          filters:
            tags:
              ignore: /.*/
      - build_docker:
          requires:
            - build
          filters:
            tags:
              ignore: /.*/
      - release:
          filters:
            tags:
              only: /^v[0-9]+(\.[0-9]+){2}(-.+|[^-.]*)$/
            branches:
              ignore: /.*/
